{
  "extends": "@istanbuljs/nyc-config-babel",
  "all": true,
  "include": [
    "src/**/*.js"
  ],
  "reporter": [
    "html",
    "text"
  ],
  "sourceMap": false,
  "instrument": false,
  "check-coverage": true,
  "statements": 80,
  "branches": 80,
  "functions": 80,
  "lines": 80
}
